@model RockyShop.Model.ViewModels.CartUserVM
@{
    ViewData["Title"] = "Summary";
    bool isAdmin = User.IsInRole(Constants.AdminRole);
    double orderTotalPrice = 0;
}

<form asp-action="Summary" id="form-confirm" method="post">
    <br />
    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="card">
                <div class="card-header bg-dark text-light container">
                    <div class="row">
                        <div class="col-6">
                            <i class="fa fa-shopping-cart"></i> &nbsp;
                            Order Summary
                        </div>
                        <div class="col-6 text-end">
                            <a asp-action="Index" class="btn btn-outline-info btn-sm">Back to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-7 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">User Details:</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label asp-for="User.FullName"></label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="User.FullName" required type="text" class="form-control" />
                                        <span asp-validation-for="User.FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label asp-for="User.PhoneNumber"></label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="User.PhoneNumber" required type="text" class="form-control" />
                                        <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label asp-for="User.Email"></label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="User.Email" required type="text" class="form-control" />
                                        <span asp-validation-for="User.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                @if (isAdmin)
                                {
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label asp-for="User.State"></label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="User.State" required type="text" class="form-control" />
                                            <span asp-validation-for="User.State" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label asp-for="User.City"></label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="User.City" required type="text" class="form-control" />
                                            <span asp-validation-for="User.City" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label asp-for="User.Street"></label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="User.Street" required type="text" class="form-control" />
                                            <span asp-validation-for="User.Street" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label asp-for="User.PoastalCode"></label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="User.PoastalCode" required type="text" class="form-control" />
                                            <span asp-validation-for="User.PoastalCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-12 col-lg-5 row">
                                <div class="col-12">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Order Summary:</span>
                                    </h4>
                                    <ul class="list-group mb-3">
                                        @for(int i = 0; i < Model.ProductInCartList.Count(); i++)
                                        {
                                            double productTotalPrice = Model.ProductInCartList[i].Product.Price * Model.ProductInCartList[i].SqFt;
                                            orderTotalPrice += productTotalPrice;
                                            <input hidden asp-for="ProductInCartList[i].Product.Id"/>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div>
                                                    <h6 class="my-0">@Model.ProductInCartList[i].Product.Name</h6>
                                                    @if (isAdmin)
                                                    {
                                                        <input hidden asp-for="ProductInCartList[i].SqFt"/>
                                                        <small class="text-muted">Sqft: @Model.ProductInCartList[i].SqFt</small>
                                                    }
                                                    else
                                                    {
                                                        <small class="text-muted">Price per Sqft: @Model.ProductInCartList[i].Product.Price.ToString("c")</small>
                                                    }
                                                </div>
                                                @if (isAdmin)
                                                {
                                                    <span class="text-muted">@((productTotalPrice).ToString("c"))</span>
                                                }
                                            </li>
                                        }
                                        @if (isAdmin)
                                        {
                                            <li class="list-group-item d-flex justify-content-between bg-light">
                                                <small class="text-info">Order total:</small>
                                                <strong class="text-info">@orderTotalPrice.ToString("c")</strong>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                @if (isAdmin)
                                {
                                    <div class="col-12">
                                        <div class="wrapper">
                                            <div class="checkout container">
                                                <div id="dropin-container"></div>
                                                <input hidden id="nonce" name="payment_method_nonce"/>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-5 offset-md-7">
                            @if(isAdmin)
                            {
                                <button type="submit" onclick="return validateInputOrder()" class="btn btn-outline-success form-control">Submit Order</button>
                            }
                            else
                            {
                                <button type="submit" onclick="return validateInputInquiry()" class="btn btn-outline-primary form-control">Submit Inquiry</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://js.braintreegateway.com/web/dropin/1.37.0/js/dropin.min.js"></script>
    <script>
        const form = document.getElementById('form-confirm');

        braintree.dropin.create({
          authorization: '@ViewBag.ClientToken',
          container: '#dropin-container'
        }).then((dropinInstance) => {
          form.addEventListener('submit', (event) => {
            event.preventDefault();

            dropinInstance.requestPaymentMethod().then((payload) => {
              // Step four: when the user is ready to complete their
              //   transaction, use the dropinInstance to get a payment
              //   method nonce for the user's selected payment method, then add
              //   it a the hidden field before submitting the complete form to
              //   a server-side integration
              document.getElementById('nonce').value = payload.nonce;
              form.submit();
            }).catch((error) => { throw error; });
          });
        }).catch((error) => {
          // handle errors
        });
    </script>
    <script>
        function validateInputInquiry(){
            let userName = document.getElementById("User_FullName").value.toString();
            let phoneNumber = document.getElementById("User_PhoneNumber").value.toString();
            let email = document.getElementById("User_Email").value.toString();

            if(userName == "" || phoneNumber == "" || email == ""){
                Swal.fire({
                  icon: 'error',
                  title: 'Error',
                  text: 'Invalid input!',
                });
                return false;
            }

            return true;
        }

        function validateInputOrder(){
            let userName = document.getElementById("User_FullName").value.toString();
            let phoneNumber = document.getElementById("User_PhoneNumber").value.toString();
            let email = document.getElementById("User_Email").value.toString();
            let state = document.getElementById("User_State").value.toString();
            let city = document.getElementById("User_City").value.toString();
            let street = document.getElementById("User_Street").value.toString();
            let code = document.getElementById("User_PoastalCode").value.toString();

            if(userName == "" || phoneNumber == "" || email == "" 
               || state == "" || city == "" || street == "" || code == ""){
                Swal.fire({
                  icon: 'error',
                  title: 'Error',
                  text: 'Invalid input!',
                });
                return false;
            }   

            return true;
        }
    </script>
}

