@page
@model RegisterModel

@{
    bool isAdmin = User.IsInRole(RockyShop.Utility.Utilities.Constants.AdminRole);
}

<div class="py-4">
    <div class="row form-group">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-body px-lg-5 pt-4">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h3 class="col-12 text-success text-center py-4">
                            @if(isAdmin)
                            {
                                <strong>Register an Admin Account</strong>
                            }
                            else
                            {
                                <strong>Register</strong>
                            }
                        </h3>

                        <hr />

                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="py-2">
                            <input asp-for="Input.FullName" class="form-control" autocomplete="fullname" placeholder="Full name..." />
                        </div>
                        <div class="py-2">
                            <input asp-for="Input.Email" type="email" class="form-control" autocomplete="email" placeholder="Email..." />
                        </div>
                        <div class="py-2 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">+380</span>
                            </div>
                            <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="phonenumber" placeholder="Phone number..." />
                        </div>
                        <div class="form-row row py-2">
                            <div class="col-6">
                                <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password..." />
                            </div>
                            <div class="col-6">
                                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Confirm password..." />
                            </div>
                        </div>

                        <div class="py-2">
                            @if(isAdmin)
                            {
                                <button type="submit" class="btn btn-warning form-control">Register New Admin</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success form-control">Register</button>
                            }
                        </div>
                    </form>
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <p>
                            By clicking <em>Register</em> you agree to our <a href="#">terms of service</a> 
                        </p>
                        <div class="row">
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    @if (provider.Name.ToLower().Contains("facebook"))
                                    {
                                        <button type="submit" class="btn btn-block facebook-btn form-control" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                            <i class="fab fa-facebook-square"></i> @provider.DisplayName
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                }
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
